<body>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-text">
      Lets generate some images
    </span>
  </div>
</nav>

{{range .keys}}
<p><a href="/image/{{.}}">{{.}}</a></p>
{{end}}
</body>